<footer class="text-center text-lg-start d-flex flex-column justify-content-evenly">
  <div class="bg-dark text-white text-center py-3">
    <a href="#" class="text-light me-3 border-light"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-light me-3 border-light"><i class="bi bi-twitter"></i></a>
        <a href="#" class="text-light me-3 border-light"><i class="bi bi-instagram"></i></a>
        <a href="#" class="text-light border-light"><i class="bi bi-linkedin"></i></a>
  </div>
</footer>
