img {
  width: 230px;
  padding: 5px;
}

.messageDone {
  margin: 8.82rem 0;
}

@media (max-width: 850px) {
  .messageDone {
    margin: 11rem 0;
  }
}

@media (max-width: 768px) {
  .messageDone {
    margin: 2rem 0;
  }
}
